@{
    ViewBag.Title = "Dashboard";
}

<div id="home" class="home bs-container" >
 
    <div class="form-horizontal center-block">
        <div >
            <div class="row panel-body"  >

                <div class="notification bs-container">
              
                    <h2> Campañas en Operacion</h2>
                </div>

                <div class="notification bs-container">
                    <h2> Posibles clientes</h2>

                </div>
                <div class="notification bs-container">
                    <h2> Cotizaciones</h2>

                </div>

            </div>



        </div>

</div>
